<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <meta content="telephone=no" name="format-detection" />
    <title>{{exam_info['student_name']}}的成绩单</title>
    <link rel="stylesheet" href="http://gxgk-wechat.b0.upaiyun.com/styles/weui.min.css" />
    <link rel="stylesheet" href="http://gxgk-wechat.b0.upaiyun.com/styles/score.min.css" />
    <script type="text/javascript">
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?{{ baidu_analytics }}";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body ontouchstart>
    <div class="container js_container">
        <div class="page">
            <div class="hd">
                <h1 class="page_title">{{ real_name }} 期末成绩单</h1>
                <p class="page_desc">点击右上角按钮分享</p>
            </div>
            <div class="panel-group" id="accordion">
                {% for meExam_name in exam_info['all_MultiExam'] %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" 
                            href="#collapseOne">
                            {{meExam_name}}
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        {% for object_id in exam_info['all_MultiExam'][meExam_name] %}
                        {% if exam_info['all_MultiExam'][meExam_name][object_id]['seCourseName'] == 'total': continue %}
                        <div class="panel-body">
                            <td align="left">{{exam_info['all_MultiExam'][meExam_name][object_id]['seCourseName']}}</td>
                            <td align="right">{{exam_info['all_MultiExam'][meExam_name][object_id]['seScore']}}分</td>
                            <br />
                            <td align="right">班级{{exam_info['all_MultiExam'][meExam_name][object_id]['essClassOrder']}}名</td>
                            <br />
                            <td align="right">年级{{exam_info['all_MultiExam'][meExam_name][object_id]['essGradeOrder']}}名</td>
                        </div>
                        {% endfor %}
                        <div class="panel-body">
                            <td align="left">{{exam_info['all_MultiExam'][meExam_name]['total']['seCourseName']}}</td>
                            <td align="right">{{exam_info['all_MultiExam'][meExam_name]['total']['seScore']}}分</td>
                            <br />
                            <td align="right">班级{{exam_info['all_MultiExam'][meExam_name]['total']['class_order']}}名</td>
                            <br />
                            <td align="right">年级{{exam_info['all_MultiExam'][meExam_name]['total']['grade_order']}}名</td>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <p class="weui_cells_tips">数据更新于：{{ update_time }}</p>
            <div class="qrcode">
                <img src="">
            </div>
        </div>
    </div>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript">
        var jsapi = {{ jsapi }};
        jsapi['debug'] = false;
        wx.config(jsapi);
        shareData = {
            title: '{{ real_name }}的期末成绩单', // 分享标题
            desc: '', // 分享描述
            link: location.href.split('#')[0], // 分享链接
            imgUrl: 'http://gxgk-wechat.b0.upaiyun.com/icon.jpg' //分享图标
        }
        wx.ready(function(){
            wx.onMenuShareTimeline(shareData);
            wx.onMenuShareAppMessage(shareData);
            wx.onMenuShareQQ(shareData);
            wx.onMenuShareWeibo(shareData);
            wx.onMenuShareQZone(shareData);
        });
    </script>
</body>

</html>
